:root {
    --ion-color-primary: #ffa100;
    --ion-color-primary-rgb: 255,161,0;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #e08e00;
    --ion-color-primary-tint: #ffaa1a;

    --ion-color-secondary: #2da78c;
    --ion-color-secondary-rgb: 45, 167, 140;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #28937b;
    --ion-color-secondary-tint: #42b098;

    --ion-color-tertiary: #4277ab;
    --ion-color-tertiary-rgb: 66, 119, 171;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #3a6996;
    --ion-color-tertiary-tint: #5585b3;
}

body.dark {
    --ion-color-primary: #e69100;
    --ion-color-primary-rgb: 230,145,0;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #ca8000;
    --ion-color-primary-tint: #e99c1a;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
}

/*
 * iOS Dark Theme
 * -------------------
 */

.ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #1c1c1c;
    --ion-item-background-activated: #313131;
}

/*
 * Material Design Dark Theme
 * ------------------------------
 */

.md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1a1b1e;
}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
    --transition: none;
}

.md .hide-md {
    display: none;
}

.ios .hide-ios {
    display: none;
}

#colourList ion-label {
    display: none;
}

#colourList ion-segment-button {
    min-width: auto;
}

input {
    caret-color: var(--ion-color-primary);
}

#loading {
    text-align: center;
    margin-top: 30%;
}

.radio-circle {
    border: solid 2px;
    border-radius: 50%;
}

.radio-circle.ios {
    width: 24px;
}

.green { color: #259b51; }
.radio-circle-green { border-color: #259b51; }
.dark .green { color: #1b773e; }
.dark .radio-circle-green { border-color: #1b773e; }

.purple { color: #6f38d6; }
.radio-circle-purple { border-color: #6f38d6; }
.dark .purple { color: #6c41b8; }
.dark .radio-circle-purple { border-color: #6c41b8; }

.red { color: #c32839; }
.radio-circle-red { border-color: #c32839; }
.dark .red { color: #9f2536; }
.dark .radio-circle-red { border-color: #9f2536; }

.pink { color: #e7a9e7; }
.radio-circle-pink { border-color: #e7a9e7; }
.dark .pink { color: #945294; }
.dark .radio-circle-pink { border-color: #945294; }

.white { color: #f1d01e; }
.radio-circle-white { border-color: #fddb23; }
.dark .white { color: #b1b1b1; }
.dark .radio-circle-white { border-color: #b1b1b1; }

#services ion-icon.delete {
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.2em #fff;
}

body.dark #services ion-icon.delete {
    box-shadow: inset 0 0 0 0.2em #1c1d20;
}

.sr-only {
    /* Screen readers only */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
